@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 100
  font-display auto
  src url('~static/fonts/sf-ui-display-thin.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 200
  font-display auto
  src url('~static/fonts/sf-ui-display-ultralight.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 300
  font-display auto
  src url('~static/fonts/sf-ui-display-light.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight normal
  font-display auto
  src url('~static/fonts/sf-ui-display-regular.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 400
  font-display auto
  src url('~static/fonts/sf-ui-display-regular.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 500
  font-display auto
  src url('~static/fonts/sf-ui-display-medium.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 600
  font-display auto
  src url('~static/fonts/sf-ui-display-semibold.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 700
  font-display auto
  src url('~static/fonts/sf-ui-display-bold.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 800
  font-display auto
  src url('~static/fonts/sf-ui-display-heavy.otf') format('opentype')

@font-face
  font-family 'SF UI Display'
  font-style normal
  font-weight 900
  font-display auto
  src url('~static/fonts/sf-ui-display-black.otf') format('opentype')